:root {
  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;

  --text: #f1f5f9;
  --text-secondary: #cbd5e1;

  --accent: #3b82f6;
  --accent-green: #10b981;
  --border: #636c78;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: var(--bg-primary);
  color: var(--text);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid var(--border);
  padding: 0rem 1rem;
}

.site-header h1 {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 700;
}

.site-header button {
  width: 5rem;
  height: 2.25rem;
  font-size: 1.25rem;
  border: 0.1rem solid var(--border);
  color: var(--accent);
  background-color: var(--bg-secondary);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.signup-section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.instruction {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--accent);
  margin-bottom: 0.75rem;
}


.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.form-group input {
  margin-top: 0.5rem;
  width: 25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-secondary);
  border: var(--border) solid 0.1rem;
  color: var(--text);
  font-size: 1.25rem;
  padding-left: 1rem;
  outline: none;
}

.submit-btn {
  color: var(--text);
  background-color: var(--accent);
  width: 25rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.switch-txt {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.switch-txt a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: none;
}